{% extends 'layout.html' %}
{% load static %}

{% block main %}
{% static 'img/home-bg.jpg' as home_bg %}

{% include 'includes/banner.html' with banner_image=home_bg banner_title='Article sehifesi' banner_description='bura article sehifesidir' %}
<div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div>
            <h2>Share Article</h2>
            </div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_div}}
    <input type="submit">
</form>
        </div>
    </div>
</div>
</div>
{% endblock main %}