{%extends 'layout.html'%} 
{%load static%} 
{%block main%} 
{% static 'img/post-bg.jpg' as post_bg %} 
{% include 'includes/banner.html' with banner_image=post_bg banner_title='blog sehifesi' banner_description='blog sehifesine xos gelmisiniz' %}

<!-- Main Content -->
<div class="container">
  <div class="row">

    <div class="col-lg-2">
      <div class="h1">Category</div>
      <ul class='list-unstyled'>
        {% for author in authors  %}
        <li><a href="?author={{author.user.username}}">{{author.user.get_full_name}}</a></li>
        {% endfor %}
      </ul>
      <div class="h1">Tags</div>
      <ul class='list-unstyled'>
        {% for tag in tags  %}
        <li><a href="?tag={{tag.title}}">{{tag.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% for article in articles %}
      <div class="post-preview">
        <a href="{% url 'blog:blogdetail' id=article.id %}">
          <h2 class="post-title">{{article.title}}</h2>
          <h3 class="post-subtitle">{{article.description}}</h3>
        </a>
        <p class="post-meta">
          Posted by <a href="?author={{author.user.username}}">{{article.author.user.get_full_name}}</a> on {{article.created}}
        </p>
      </div>
      <hr />

      <!-- Pager -->
      <ul class="pager">
        <li class="next">
          <a href="#">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<hr />
{% endfor %} {%endblock main%}
