<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% for user in users  %}

{% if forloop.first %}
<div style='background-color:red'>
    <h1>{{forloop.counter}} {{user.name}}</h1>
    <h2>{{user.job|truncatechars:9}}</h2>
    <h3>{{user.age}}</h3>
</div>


{% elif forloop.last%}
<div style='background-color:blue'>
    <h1>{{forloop.counter}} {{user.name}}</h1>
    <h2>{{user.job|truncatechars:9}}</h2>
    <h3>{{user.age}}</h3>
</div>

{% else %}
<div style='background-color:green'>
    <h1>{{forloop.counter}} {{user.name}}</h1>
    <h2>{{user.job|truncatechars:9}}</h2>
    <h3>{{user.age}}</h3>
</div>

{% endif %}
{% endfor %}

</body>
</html>